# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Documentation
README_zh.md
img/

# Tests
tests/
